aside {
    position: fixed;
    z-index: 999;
    width: 350px;
    height: 100%;
    background: #ffc500;
    display: grid;
    align-items: center;
    top: 0;
    transition: 0.3s ease-in-out;

    @media screen and (max-width: 725px) {
        width: 100%;
    }

    .icon {
        position: absolute;
        top: 1.2rem;
        right: 1.5rem;
        background: transparent;
        border: transparent;
        font-size: 2rem;
        cursor: pointer;
        outline: none;

        FaTimes {
            color: #000;
        }
    }

    .sidebar-menu {
        display: flex;
        flex-direction: column;
        text-align: center;

        a {
            display: flex;
            padding: 20px;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            text-decoration: none;
            list-style: none;
            transition: 0.2s ease-in-out;
            color: #000;
            cursor: pointer;

            &:hover {
                color: #e31837;
                transition: 0.2s ease-in-out;
            }
        }
    }
}