/* @import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Wendy+One&display=swap');

.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'Sigmar One', cursive; */
  font-family: 'Wendy One', sans-serif;
}